@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap");

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

h1 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.85rem;
  font-weight: 600;
}

.navbar-brand {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  background-image: linear-gradient(to right top, #008793, #00bf72, #a8eb12);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-toggler {
  border: none;
  padding: 0;
}

section.hero {
  background-image: linear-gradient(to right top, #008793, #00bf72);
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

input.input-error {
  border: 1px solid red !important;
  box-shadow: 0 0 3px 0 rgba(220, 43, 43, 0.718);
}

.err-msg {
  color: red;
  font-size: 0.8rem;
  display: none;
}

.mob-code {
  display: flex;
  gap: 4px;
}

.hero button,
.link-button,
.copy-btn {
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
}

.hero button:hover,
.link-button:hover,
.copy-btn:hover {
  appearance: none;
  border: 2px solid #ffc107;
  color: #ffc107;
}

.hero-image {
  width: 500px;
}

.form-control {
  padding: 10px;
}

.form-control:focus {
  border-color: #e5e5e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ffc107;
}

/* Link */
#genLink {
  border: 2px solid #00bf72;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
}

/* whatsbtn */
.wbtn {
  display: none;
}

.wbtn.show {
  display: block;
}

/* Text on phone */
.magic-num {
  margin-top: 0px;
  padding: 50px;
  color: white;
}

.magic-text {
  margin-bottom: 0px;
  padding-left: 50px;
  padding-bottom: 60px;
  color: black;
}

#back-to-top {
  background-color: #212529;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s;
  transform: translateX(200px);
}

#back-to-top.show {
  transform: translateX(0px);
}

/* Footer */
.footer {
  background-image: linear-gradient(to right top, #008793, #00bf72);
}

.foot-text {
  font-size: 1.4rem;
  font-weight: 600;
}

.foot-button {
  color: #fff;
  font-weight: 600;
  border: 2px solid white;
}

.foot-button:hover {
  background-color: transparent;
  color: #ffc107;
  border: 2px solid #ffc107;
}

.fa-brands {
  color: #fff;
  padding-right: 15px;
  transition: all 0.2s ease;
}

.fa-brands:hover {
  transform: scale(1.15);
  color: #ffc107;
}

/* Default (Light) Mode */
body.light-mode {
  background-color: #fff;
  color: #333;
}

.light-mode .info-icon {
  color: #000;
}

/* Dark Mode */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #00bf72;
}

@media (max-width: 990px) {
  .hero-main {
    flex-direction: column;
  }

  .hero-image {
    margin-top: 2rem;
    width: 400px;
  }
}
