@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


.navbar-brand{
    font-family:"Dancing Script" ;
    font-weight: bolder;
    font-size: 30px;
    background-image: linear-gradient(to right top, #008793, #00bf72, #a8eb12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section.hero{
    background-image: linear-gradient(to right top, #008793, #00bf72);
    overflow: hidden;
}

input.input-error {
    border:1px solid red !important;
    box-shadow: 0 0 3px 0 rgba(220, 43, 43, 0.718);
}

.err-msg {
    color: red;
    font-size: 0.8rem;
    display: none;
}

.mob-code {
    display: flex;
    gap: 4px;
}

.hero-image{
    width: 30%;
    margin-left: 800px;
}

.form-control{
    padding: 10px;
}

.form-control:focus {
    border-color: #13c703;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #13c703;
  }

  /* Link */

  #genLink{
      border: 3px solid greenyellow;
      padding: 10px;
      border-radius: 5px;
      word-wrap: break-word;
  }

  /* whatsbtn */
  .wbtn{
      display: none;
  }

  .wbtn.show{
      display: block;
  }

  /* Text on phone */
  .magic-num{
margin-top: 0px;
padding: 50px;
color: white;
  }

  .magic-text{
    margin-bottom: 0px;
    padding-left: 50px;
    padding-bottom: 60px;
    color: black;
      }
.to-top{
    background: rgb(0, 170, 248);
    position: fix;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#ffffff;
    text-decoration: none;
}
.back-to-top {
    position : absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.back-top{
    display: block;
    margin-top: 10px;
    color: rgb(0, 170, 248);
    font-size: 15px;
    font-weight: bold;
}

/* Default (Light) Mode */
body.light-mode {
    background-color: #fff;
    color: #333;
}

/* Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}